div {
  height: 30px;
  border: 2px solid black;
  background-color: #caf0f8;
  position: sticky;
  top: -5px;
  font-size: 1.5rem;
}
ul {
  list-style: none;
}
li {
  border-top: 1px solid black;
  font-weight: bold;
}
