/*  */
body {
  perspective: 800px;
}
div {
  height: 250px;
  width: 400px;
  border: 1px solid #ccc;
}
.side-a {
  background-color: lightcoral;
  z-index: 2;
}
.side-b {
  background-color: lightgreen;
  z-index: 1;
  transform: rotateY(180deg);
}
.wrapper {
  position: relative;
  font-size: 24px;
  transition: 1s;
  margin: 30px auto;
  transform-style: preserve-3d;
}
.side-a,
.side-b {
  position: absolute;
  backface-visibility: hidden;
}
.wrapper:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}
